<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="menu-bar.component.css" />
</head>
<body>
<div id="menubar" height="100" >
    <table><tr>
        <td><div  routerLink="" id="div1" >Home</div></td>
        <td><div  routerLink="products" id="div1" >Products</div></td>
        <td><div  routerLink="cart" id="div1" >Cart</div></td>
        <td><div  routerLink="orders" id="div1" >Orders</div></td>
        <td><div  routerLink="" id="div1" >Sign-in</div></td>
        <td><div  routerLink="" id="div1" >Orders</div></td>
    </tr>
    </table>
</div>